.container {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1200px;
}

#contact {

    height: 90vh;

    .title {

        padding: 1rem;
        
        h2 {
            color: #5BE8C9;
            text-align: center;
        }

        button {
            color: white;
            border: #5BE8C9 solid 0.1rem;
            border-radius: 20px;
            background-color: transparent;
            padding: 1rem 2rem;
            margin-top: 1rem;
        }
    }

    .contact-me {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .img {
            max-width: 20rem;

            img {
                width: 100%;
            }
        }

        button {
            background-color: transparent;
            border: #5BE8C9 solid 0.1rem;
            border-radius: 20px;
            padding: 1.2rem;
            transition: all 0.2s ease-in-out;


            &:hover {
                transform: scale(1.06);
                cursor: pointer;
                background-color: #5BE8C9;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.page-control {
    visibility: visible;

    svg {
        width: 40px;
        height: 40px;
        fill: rgb(218, 218, 218);
        padding: 0;
        margin: 0;
        display: block;
        position: absolute;
        top: calc(50% - 18.5px);
        left: calc(50% - 18px);
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.12);
        }
    }

    .prev {
        padding: 0;
        margin: 0;
        text-decoration: none;
        position: fixed;
        top: 25%;
        height: 50%;
        left: 0;
        width: 80px;
    }
}

@media only screen and (max-width: 800px) {
    .page-control {
        visibility: hidden;
    }
}