footer {
    background-color: #02021188;
    height: auto;
    color: white;

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .socials {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 1rem 0;

            li{
                margin: 0 10px;

                a{
                    text-decoration: none;
                    color: white;

                    svg {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .footer-bottom {
        width: 100vw;
        text-align: center;

        p{
            word-spacing: 2px;
            text-transform: capitalize;
            margin: 0;
            padding-bottom: 1rem;
            font-size: 0.8rem;

            span {
                opacity: 0.6;
            }
        }
    }
}