* {
    box-sizing: border-box;
    cursor: none;
}

.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    content: "";
    opacity: 0.05;
    z-index: 2;
    pointer-events: none;
    background: url(../img/noise.gif);
}

